*{
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
}

body{
  font-family: Montserrat;
}

.app{
  display: flex;
  width: 100%;
  justify-content:  center;
  align-items: center;
  flex-direction: column;
}